body{
    background-color: rgba(157, 118, 194, 0.781);
}
.container-days,.container-hour,.container-minute,.container-second{
    width: 100px;
    height: 100px;
    background-color: rgba(195, 194, 240, 0.527);
    border: 2px solid rgba(15, 97, 221, 0.527);    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.timer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.title{
    color: wheat;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}
.countDay,.countHour,.countMinute,.countSecond{
    font-size: 30px;
    padding: 10px;
    color: rgb(243, 241, 234);
}
.colon{
    font-size: 50px;
    color: rgb(218, 215, 213);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.text{
    font-size: 25px;
    color: rgb(243, 241, 234);
}
